@charset "UTF-8";

@if $enable-buttons == true {
    .button {
        @include interact(border-color, $color-brand);
        display: inline-block;
        padding: 1rem 1.5rem;
        background: transparent;
        border: 2px dashed $color-base;
        color: $color-base;
        text-align: center;
        transition: .6s;

        @at-root a#{&} {
            text-decoration: none;
        }

        &:disabled {
            opacity: .2;
        }

        &--block {
            display: block;
            width: 100%;
        }
    }
}
