@charset "UTF-8";

@if $enable-inputs == true {
    .input {
        > input {
            display: block;
            width: 100%;
            padding: 1.2rem .8rem 1.2rem;
            border-bottom: 1px dashed $color-base;

            &:disabled {
                opacity: .2;
            }
        }

        // Invalid
        &--invalid {
            > input {
                border-color: $color-error;
            }
        }
    }
}
