@charset "UTF-8";

.contacts-form {

    @include mq(sm) {
        margin: 6rem;
    }

    @include mq(md) {
        margin: 8rem 16rem;
    }

    &__grid {

        @include mq(md) {
            @include grid(x,flex-start,flex-start);
        }
    }

    &__column {

        @include mq(xs) {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        @include mq(md) {
            @include grid-col();
            @include col-size(1/3);
        }
    }


    textarea {
        display: block;
        margin-top: 4rem;
        width: 100%;
        border: 1px dashed $color-base;
    }

    &__button-block {
        margin-top: 4rem;
        text-align: center;
        > .button {
            display: inline-block;
        }
    }

}
