@charset "UTF-8";

.site-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;


    @include mq(xs) {
        padding: 2rem;
    }

    @include mq(sm) {
        padding: 4rem 2rem;
    }

    &__box {

        @include mq(xs) {
            text-align: center;
        }

        @include mq(sm) {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

    }

    &__navigate {

        @include mq(xs) {
            display: none;
        }

        @include mq(sm) {
            display: flex;
        }

        > ul {


            @include mq(sm) {

                &:not(:first-child) {
                    margin-left: 4rem;
                }
            }

            > li {
                display: block;
                padding: .3rem 1rem;

                > a {
                    @include font(1.2rem,1.8rem);
                    position: relative;
                    display: inline-block;
                    color: $color-base;
                    text-decoration: none;

                    @include mq(md) {
                        @include font(1.4rem,1.4rem);
                        white-space: nowrap;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    &::after {
                        position: absolute;
                        display: block;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 0;
                        height: .3rem;
                        background: $color-brand;
                        transition: all $transition-duration-base;
                        content: '';
                    }
                }

                > a.is-current {
                    pointer-events: none;
                    color: $color-lightest;

                    &::after {
                        width: 100%;
                        height: .1rem;
                        background: $color-base;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

    }


    &__logo-box {
        @include size(4rem);
        display: block;
        margin-left: auto;

        @include mq(xs) {
            display: none;
        }

        > img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
            vertical-align: top;
        }
    }

    &__copyright-content {
        @include font(1.2rem, 1.2rem);
        margin-top: auto;
    }

}
