.page-promo {

    &:not(:last-child) {
        padding-bottom: 4rem;
    }

    @include mq(sm) {
        padding-top: 15rem;


        &:not(:last-child) {
            padding-bottom: 10rem;
        }
    }

    @include mq(md) {
        padding-top: 27rem;


        &:not(:last-child) {
            padding-bottom: 20rem;
        }
    }



    article {
        display: block;
        text-align: center;
        padding: 2rem;


        > header {
            margin-bottom: 3rem;

            @include mq(sm) {
                margin-bottom: 4rem;
            }

            > h2 {
                @include font(1.8rem,2.4rem);
                font-weight: 700;

                @include mq(sm) {
                    @include font(2.2rem,2.6rem);
                }

            }

        }

        > h1 {
            margin-bottom: 3rem;

            @include mq(sm) {
                margin-bottom: 4rem;
            }
        }

        > p {
            text-transform: uppercase;

            @include mq(xs) {
                @include font(1.2rem,1.8rem);
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }

            @include mq(sm) {
                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }



        }

    }

}
