@charset "UTF-8";

.hr {
    @include size(100%, 1px);
    display: block;
    background: $color-lightest;
}

.text-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.loading-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 99999999;
}

.page {
    opacity: 0;
    transition: .6s;
}

.fadeIn {
    opacity: 1;
    transition: all $transition-duration-base;
}

.fadeOut {
    opacity: 0;
}

::selection {
    color: #fff;
    background: $color-brand;
}
