@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    @include text-base;
    min-height: 100vh;
    background: #fff;
    color: $color-base;
    font: {
        family: $font-family-text;
        weight: $font-weight-text;
    }

    @if $enable-sticky-footer == true {
        display: flex;
        flex-direction: column;
    }
}

// Links
a {
    color: $color-link;
    transition: all $transition-duration-base;

    &.is-current {
        cursor: default;

        &:visited,
        &:hover,
        &:active {
            color: inherit;
        }
    }
}

// Forms
button,
input,
select,
textarea {
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

select {
    border-radius: 0;
    //font-size: 16px; // Prevent iOS from page zoom on :focus
}

textarea {
    resize: none;
}

// Headings
h1 {
    @include h1;
    margin: 0;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

// Hr
hr {
    border: none;
}

// Images
img {
    max-width: 100%;

    &[width],
    &[height] {
        max-width: none;
    }
}

// Figure
figure {
    margin: 0;
}

// Lists
ol,
ul {
    list-style: none;
}

// Small
small {
    @include text-small;
}

// Tables
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Disabled
:disabled {
    cursor: not-allowed;
}

// jQuery UI
.ui-helper-hidden-accessible {
    display: none;
}
