.mobile-menu-fade.js-mobile-menu-fade.js-close-menu

.mobile-menu.js-mobile-menu
    .mobile-menu__box
        ul

            li
                a.is-current(href='#') 01: Home

            li
                a(href='#') 02: Info

            li
                a(href='#') 03: Contacts

            li
                a(href='https://vk.com/francescolucania' target='_blank') 04: vk.com

            li
                a(href='mailto:francescolucaniacom@gmail.com') 05:
                a(href='mailto:francescolucaniacom@gmail.com') francescolucaniacom@gmail.com
