footer.site-footer.js-site-footer

    .container

        nav.site-footer__navigate


            ul

                li
                    a.is-current(href='#') 01: Home

                li
                    a(href='#') 02: Profile

                li
                    a(href='#') 03: Blog

                li
                    a(href='#') 04: Contacts


            ul

                li
                    a.is-currenta(href='https://vk.com/francescolucania' target='_blank') 05: vk.com

                li
                    a(href='https://twitter.com/FRLucania_com' target='_blank') 06: twitter

                li
                    a(href='mailto:francescolucaniacom@gmail.com') 07: e-mail: francescolucaniacom@gmail.com
