header.site-header.js-site-header
    a.site-header__logo-box(href='francescolucania.com')
        img(src='img/logo.jpg' alt='francesco lucania front-end')

    nav.site-header__navigate
        ul

            li
                a.is-current(href='#') 01: Home

            li
                a(href='#') 02: Profile

            li
                a(href='#') 03: Blog

            li
                a(href='#') 04: Contacts

    .site-header__burger-box
        a.burger.js-open-menu(href='#')
            .burgx
            .burgx2
            .burgx3

