footer.site-footer.js-site-footer

    .container

        .site-footer__box

            nav.site-footer__navigate


                ul

                    li
                        a.js-navigate-item-1(href='http://francescolucania.com/') 01: Home

                    li
                        a.js-navigate-item-2(href='profile.html') 02: Profile

                    li
                        a.js-navigate-item-3(href='contacts.html') 03: Contacts


                ul

                    li
                        a.is-currenta(href='https://vk.com/francescolucania' target='_blank') 04: vk.com

                    li
                        a(href='mailto:francescolucaniacom@gmail.com') 05: e-mail: francescolucaniacom@gmail.com

            .site-footer__content

                .site-footer__copyright-content © 2017, <b>francescolucania</b>.com
