header.site-header.js-site-header
    a.site-header__logo-box(href='http://francescolucania.com/')
        img(src='img/logo.jpg' alt='francesco lucania front-end')

    nav.site-header__navigate
        ul

            li
                a.js-navigate-item-1(href='http://francescolucania.com/') 01: Home

            li
                a.js-navigate-item-2(href='profile.html') 02: Profile

            li
                a.js-navigate-item-3(href='contacts.html') 03: Contacts

    .site-header__burger-box
        a.burger.js-open-menu(href='#')
            .burgx
            .burgx2
            .burgx3

