doctype html

html.mod_no-js(lang='en')
    include _head

    body
        .loading-box.js-page-loading
            img(src='img/loading.gif' alt='load')

        .page.js-page-body
            include components/_site_header

            main.site-main.js-main
                block main

            include components/_site_footer
            include components/_mobile_menu

            include _scripts
