extends layouts/application

block title
    title Index / Neo

block main
    .page-promo.page-promo--index
        article
            header
                h2 01: Home


            h1 Say Hello
            p FRANCESCO LUCANIA - FRONTEND DEVELOPER
