extends layouts/application

block title
    title Home

block main
    .page-promo
        .container
            article
                header
                    h2 01: Home


                h1 Say Hello
                p FRANCESCO LUCANIA - FRONTEND DEVELOPER
                a.button.button--medium(href='profile.html') Next
