extends layouts/application

block title
    title Index / Neo

block main

    .page-promo
        .container
            article
                header
                    h2 02: Profile


                h1 About Me
                p Francesco Lucania I'm a Frontend developer in Russia currently working at <a href='#'>Coalla</a>.
                a.button.button--medium(href='#') Next

    .section-box
        .container
            article.wysiwyg.text-center
                header

                    h2 Projects
                p Francesco Lucania I'm a Frontend developer in Russia currently working at <a href='#'>Coalla</a>.
                a.button.button--medium(href='#') Next
